.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar--top {
  padding-inline: 1em;
  border-bottom: 1px solid rgb(82, 91, 106);
}

.header-logo-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: start;
}

.company_name {
  flex: 1;
  font-weight: 600;
  margin-left: 0.35rem;
  font-size: 1.5em;
}

.main {
  scrollbar-width: none;
  overflow: auto;
}

.bar--bottom {
  padding-inline: 1rem;
  padding-block: 0.35rem 0.75rem;
  border-top: 1px solid rgb(82, 91, 106);
}

.footer {
  height: var(--footer--height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 !important;
  padding: 0 !important;
}

.footer__nav--item {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #262626;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.footer__nav--item:hover {
  transform: translateY(-3px);
}

.footer__nav--item.active {
  color: #e63946 !important;
}

.footer__nav--icon {
  font-size: 25px;
}

@media (prefers-color-scheme: dark) {
  .footer__nav--item {
    color: rgb(143, 152, 166);
  }
}
